.scale {
  -webkit-border-radius: 10px;
  background-color: #202B32;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: left;
  width: 255px;
  height: 11px;
}

.scale span {
  display: inline-block;
  border-radius: 10px;
  position: relative;
  height: 100%;
  bottom: 5px;
}