.table {
  background: #192229;
  color: white;
  border: none;
  width: 100%;
}

.thead {
  color: #5c7082;
}


th {
  border-bottom: 1px #28343B solid;
  text-transform: uppercase;
  vertical-align: middle;
  font-size: .7rem;
  cursor: pointer;
  color: #5c7082;
  height: 60px;
}

tbody > tr:nth-of-type(even) {
  background: #1C252C;
}

tbody > tr > td:first-of-type, th:first-of-type {
  padding-left: 20px;
  text-align: left;
  max-width: 106px;
}

tbody > tr > td:nth-of-type(2), th:nth-last-of-type(2) {
  text-align: left;
  padding-left: 20px;
  max-width: 10%;
}

tbody > tr > td:nth-of-type(3), th:nth-last-of-type(3) {
  text-align: left;
  padding-left: 20px;
  max-width: 10%;
}

td {
  text-overflow: clip;
  padding-top: 4px;
  font-size: .9rem;
  height: 42px;
  border: none;
}